<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias type="com.dh.home.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.dh.home.product.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.dh.home.product.ProductImageVO" alias="ProductImageVO"/>
		<typeAlias type="com.dh.home.member.Role" alias="Role"/>
		<typeAlias type="com.dh.home.order.OrderVO" alias="OrderVO"/>
		
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Boolean" alias="Boolean"/>
	</typeAliases>
</configuration>