<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.dh.home.product.ProductMapper">
	
	<select id="getProduct" parameterType="String" resultType="ProductVO">
		SELECT * FROM PRODUCT WHERE ID=#{id}
	</select>
	
	<insert id="setFileAdd" parameterType="ProductImageVO">
		INSERT INTO PRODUCTIMAGE VALUES(null,#{fileName}, #{oriName}, #{itemNum})
	</insert>
	
	<insert id="setProduct" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="itemNum">
		INSERT INTO PRODUCT VALUES(null,#{itemName}, #{ea}, #{startTime}, #{endTime}, #{id})
	</insert>
	
</mapper>